<header class="p-3 text-bg-dark" *ngIf="isLoggedIn" style="position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: auto;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Strona główna</a></li>
        <li><a href="#" class="nav-link px-2 text-white" routerLink="/searchMovies" >Wyszukaj filmy</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a class="nav-link px-2 text-white" routerLink="/about" >O aplikacji</a></li>
      </ul>

      <form [formGroup]="searchForm" (ngSubmit)="searchMovie()" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" formControlName="movieTitle" class="form-control form-control-dark text-bg-dark" *ngIf="isLoggedIn" placeholder="Wyszukaj film..." (keyup.enter)="searchMovie()" aria-label="Search">
      </form>
      <div class="text-end" *ngIf="isLoggedIn">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/logout" >Wyloguj</button>
      </div>
      <div class="text-end" *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-outline-light me-2" routerLink="/login" >Logowanie</button>
        <button type="button" class="btn btn-warning" routerLink="/register" >Rejestracja</button>
      </div>    
    </div>
  </div>
</header>
